@font-face {
    font-family: "OpenSans";
    src: url("./OpenSans-Regular.ttf")format('truetype');
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto-Regular.ttf")format('truetype');
}